/* styles.css */
body {
    margin: 0;
}


/* Styling for header */

.header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 30px;

}

.nav {
    padding: 15px;
}

.b1,
.b2,
.b3 {
    margin: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: white;
    border: 0px;

}

.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover {
    transform: translateY(-5px);
    color: burlywood;
}

.b1:active,
.b2:active,
.b3:active {
    background-color: burlywood;
    color: white;
}

.b4,
.bookButton {

    background-color: black;
    border: 0px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    color: white;

}

.bookButton {
    margin: 0;
}

.b4:hover,
.bookButton:hover {
    background-color: #1a1a1a;
    transform: translateY(-5px);

}




/* Styling for home page */
.home {
    background-color: #FAF9F6;

}

.innerContainer {
    display: flex;
    padding: 150px 150px;
    gap: 30px;
}

.leftSideMedia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: auto;
    height: 350px;
    border-radius: 15px;
    align-self: center;
}

.establishDate {
    font-weight: bold;
}

.restaurantName {
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
}

.slogan {
    font-size: 20px;
    font-style: oblique;
}

.bio {
    font-size: 20px;
}

.bookAndViewContainer {
    display: flex;
    gap: 15px;


}

.viewMenuButton {
    padding: 15px 30px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.viewMenuButton:hover {
    background-color: #1a1a1a;
    color: white;
}


.footerContainer {

    display: flex;
    gap: 20px;
    padding-left: 25px;
}

.locallySourcedSlogan,
.seasonalMenuSlogan {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}