/* styles.css */
body {
    margin: 0;
}


/* Styling for header */

.header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.title {
    font-weight: bold;
    font-size: 30px;

}

.nav {
    padding: 15px;
}

.b1,
.b2,
.b3 {
    margin: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: white;
    border: 0px;

}

.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover {
    transform: translateY(-5px);
    color: burlywood;
}

.b1:active,
.b2:active,
.b3:active {
    background-color: burlywood;
    color: white;
}

.b4,
.bookButton {

    background-color: black;
    border: 0px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    color: white;

}

.bookButton {
    margin: 0;
}

.b4:hover,
.bookButton:hover {
    background-color: #1a1a1a;
    transform: translateY(-5px);

}




/* Styling for home page */

/* Inner Container 1 */
.innerContainer1 {
    background: linear-gradient(135deg,
            #F2F1ED 0%,
            #E6ECFA 50%,
            #DCE4F7 100%);

    display: flex;
    padding: 150px 150px;
    gap: 30px;
}

.leftSideMedia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: auto;
    height: 350px;
    border-radius: 15px;
    align-self: center;
    transition-duration: 0.2s;

}

.logo:hover {
    transform: translateX(10px);

}

.establishDate {
    font-weight: bold;
    transition-duration: 0.2s;
}

.establishDate:hover {
    transform: translateY(-10px);
}


.restaurantName {
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
    transition-duration: 0.2s;

}

.restaurantName:hover {
    transform: translateY(-10px);

}

.slogan {
    font-size: 20px;
    font-style: oblique;
    transition-duration: 0.4s;

}

.slogan:hover {
    transform: translateY(-10px);

}

.bio {
    font-size: 20px;
    transition-duration: 0.4s;

}

.bio:hover {
    transform: translateY(-10px);

}

.bookAndViewContainer {
    display: flex;
    gap: 15px;


}

.viewMenuButton {
    padding: 15px 30px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.viewMenuButton:hover {
    background-color: #1a1a1a;
    color: white;
    transform: translateX(5px);

}


.footerContainer {

    display: flex;
    gap: 20px;
    padding-left: 25px;
}

.locallySourcedSlogan,
.seasonalMenuSlogan {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/* Inner Container 2 */
.innerContainer2 {
    background-color: #F2EFEA;
    display: flex;
    flex-direction: column;
    padding: 150px 150px;
    gap: 30px;
    align-items: center;
}


.topSideMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.philosophyTitle {
    font-weight: bold;
    font-size: 50px;

}

.motto {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bottomSideMedia {
    display: flex;
    gap: 20px;
}

.card1,
.card2,
.card3 {
    background-color: white;
    padding: 40px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition-duration: 0.4s;
    align-items: center;
}

.card1Motto,
.card2Motto,
.card3Motto {

    font-weight: bold;
    font-size: 20px;

}

.card1Img,
.card3Img {
    width: auto;
    height: 100px;

}

.card2Img {
    box-sizing: border-box;

    width: auto;
    height: 100px;
    padding: 10px;

}

.card1Paragraph,
.card2Paragraph,
.card3Paragraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    text-align: center;
    font-size: 15px;

}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: translateY(-10px);


}




/* Inner Container 3 */
.innerContainer3 {
    background: radial-gradient(circle at top center,
            #1b263b 0%,
            #0b132b 40%,
            #000000 100%);

    display: flex;
    padding: 50px 50px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

}

.footerName {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.copyright {
    color: grey;
}