/* styles.css */
body {
    margin: 0;
}


/* Styling for header */

.header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.title {
    font-weight: bold;
    font-size: 30px;

}

.nav {
    padding: 15px;
}

.b1,
.b2,
.b3 {
    margin: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: white;
    border: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Added shadow */

}

.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover {
    transform: translateY(-5px);
    color: burlywood;
}

.b1:active,
.b2:active,
.b3:active {
    background-color: burlywood;
    color: white;
}

.b4,
.bookButton {

    background-color: black;
    border: 0px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    /* Added shadow */

}

.bookButton {
    margin: 0;
}

.b4:hover,
.bookButton:hover {
    background-color: #1a1a1a;
    transform: translateY(-5px);

}




/* Styling for home page */

/* Inner Container 1 */
.innerContainer1 {
    background: linear-gradient(135deg,
            #F2F1ED 0%,
            #E6ECFA 50%,
            #DCE4F7 100%);

    display: flex;
    padding: 150px 150px;
    gap: 30px;
}

.leftSideMedia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: auto;
    height: 350px;
    border-radius: 15px;
    align-self: center;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    /* Added shadow */

}



.establishDate {
    font-weight: bold;
    transition-duration: 0.2s;
}

.establishDate:hover {
    transform: translateY(-10px);
}


.restaurantName {
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
    transition-duration: 0.2s;

}

.restaurantName:hover {
    transform: translateY(-10px);

}

.slogan {
    font-size: 20px;
    font-style: oblique;
    transition-duration: 0.4s;

}

.slogan:hover {
    transform: translateY(-10px);

}

.bio {
    font-size: 20px;
    transition-duration: 0.4s;

}

.bio:hover {
    transform: translateY(-10px);

}

.bookAndViewContainer {
    display: flex;
    gap: 15px;


}

.viewMenuButton {
    padding: 15px 30px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.viewMenuButton:hover {
    background-color: #1a1a1a;
    color: white;
    transform: translateX(5px);

}


.footerContainer {

    display: flex;
    gap: 20px;
    padding-left: 25px;
}

.locallySourcedSlogan,
.seasonalMenuSlogan {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/* Inner Container 2 */
.innerContainer2 {
    background-color: #F2EFEA;
    display: flex;
    flex-direction: column;
    padding: 150px 150px;
    gap: 30px;
    align-items: center;
}


.topSideMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.philosophyTitle {
    font-weight: bold;
    font-size: 50px;

}

.motto {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bottomSideMedia {
    display: flex;
    gap: 20px;
}

.card1,
.card2,
.card3 {
    background-color: white;
    padding: 40px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition-duration: 0.4s;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Added shadow */

}

.card1Motto,
.card2Motto,
.card3Motto {

    font-weight: bold;
    font-size: 20px;

}

.card1Img,
.card3Img {
    width: auto;
    height: 100px;

}

.card2Img {
    box-sizing: border-box;

    width: auto;
    height: 100px;
    padding: 10px;

}

.card1Paragraph,
.card2Paragraph,
.card3Paragraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    text-align: center;
    font-size: 15px;

}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: translateY(-10px);


}




/* Inner Container 3 */
.innerContainer3 {
    background: radial-gradient(circle at top center,
            #1b263b 0%,
            #0b132b 40%,
            #000000 100%);

    display: flex;
    padding: 50px 50px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

}

.footerName {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.copyright {
    color: grey;
}



/* Styling for menu page */

.menuHeader {
    height: 300px;

    background-image: url("./assets/steakhouse.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}


.menuHeader {
    position: relative;
}

.menuHeader::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.menuHeader>* {
    position: relative;
    z-index: 1;
}

.ourMenu {
    font-weight: bold;
    font-size: 50px;

}

.menuMotto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






/* Main area of menu page */
.menuDishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 75px;
}

.smallPlates,
.mainCourses {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.smallPlatesTitle,
.mainCoursesTitle,
.refreshmentsTitle {
    font-weight: bold;
    font-size: 40px;
}

.smallPlatesItems,
.mainCoursesItems {
    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    gap: 50px 30px;

}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 0.6px solid lightgray;
    padding: 15px 10px;
    border-radius: 15px;
    transition:
        transform 0.4s ease,
        background-color 0.4s ease;

}

.items:hover {
    transform: translateY(-10px);
    background-color: rgba(0, 0, 0, 0.05);
    /* subtle dark hue */

}


.namePrice {
    display: flex;
    justify-content: space-between;
}

.itemName {
    font-weight: bold;
    font-size: large;
}

.itemPrice {
    color: #d4111b;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.itemInfo {
    font-family: "Inter", sans-serif;
    color: #555555;
    font-size: 15px;
}


.spicy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    background-color: rgba(255, 0, 0, 0.7);
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.vegetarian {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    background-color: rgba(10, 56, 21, 0.6);
    width: fit-content;
    padding: 5px;
    color: rgb(245, 252, 247);
    border-radius: 5px;
}

.gF {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    background-color: rgba(41, 136, 199, 0.6);
    width: fit-content;
    padding: 5px;
    color: rgb(245, 252, 247);
    border-radius: 5px;
}



.dietary {
    display: flex;
    gap: 6px;
}

.refreshmentsList {
    display: flex;
    gap: 25px;

}

.drinks {
    width: 200px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.drinkItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border-bottom: 0.6px solid lightgray;
    transition:
        transform 0.4s ease,
        background-color 0.4s ease;
    border-radius: 15px;

}

.refreshments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drinkInfo {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.drinkItems:hover {
    transform: translateY(-10px);
    background-color: rgba(0, 0, 0, 0.05);
    /* subtle dark hue */

}

.drinkNamePrice {
    display: flex;
    gap: 30px;
}

.drinkName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.contacts {
    background-color: #f8f5f0;
    display: flex;
    flex-direction: column;
    padding: 40px 90px;
    gap: 40px;
}

.contactsTop {
    display: flex;
    justify-content: space-around;
}

.contactsBottom {
    text-align: center;
    border-top: 0.6px solid lightgray;
    padding: 30px;

}

.contactFrame {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
    transition:
        transform 0.4s ease,
        background-color 0.4s ease;

}

.contactFrame:hover {
    transform: translateY(-10px);
    background-color: rgba(0, 0, 0, 0.05);

}

.contactsTopLeftTitle {
    font-weight: bold;
    font-size: larger;
}

.contactHours {
    font-weight: bold;
    color: #555555;
    font-family: "Inter", sans-serif;
}

.contactHoursFont,
.contactsTopLeftInfo,
.contactsBottom {
    color: #555555;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.contactHoursFormat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





/* Styling for contact page */
.contactHeader {
    height: 300px;

    background-image: url("./assets/vibe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-left: 60px;
}


.contactHeader {
    position: relative;
}

.contactHeader::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactHeader>* {
    position: relative;
    z-index: 1;
}

.contactUs {
    font-weight: bold;
    font-size: 50px;

}

.contactStatement {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contactContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 150px;
    gap: 50px;
}

.contactContentLeftSide {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.getInTouch {
    font-weight: bold;
    font-size: 35px;
}

.inquiry {
    color: #555555;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

.contactAdressPhoneNumberEmail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #FDF8F1;
    border-radius: 15px;
}

.imgContainer {
    width: 50px;
    height: auto;

}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightTitle {
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.rightInfo {
    color: #555555;
    font-family: "Inter", sans-serif;
    font-size: 14px;

}

/* .mapImg {

    height: 300px;

    background-image: url("./assets/vibe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;

} */